<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Colégio Santiago</title>

        <style>
            body {
                display: flex;
                justify-content: center;
            }

            .message-content {
                font: Arial, Helvetica, sans-serif;
                max-width: 600px;
                font-size: 18px;
                line-height: 21px;
                text-align: justify;
            }

            .header {
                background-color: #e0e0e0;
                padding: 12px 24px;
                display: flex;
                justify-content: center;
                border-radius: 8px 8px 0 0;
            }

            .header img {
                height: 80px;
            }

            .regards {
                padding: 24px 24px 12px 24px;
                text-align: center;
                background-color: #f5f5f5;
                color: #212529;
            }

            .message {
                padding: 24px;
                background-color: #f5f5f5;
                color: #212529;
            }

            .message li + li {
                margin-top: 4px;
            }

            .message table {
                border-collapse: collapse;
            }

            .message table, th, td {
                border: 1px solid black;
            }

            .message td {
                padding: 4px;
            }

            .footer {
                padding: 24px;
                background-color: #013C64;
                border-radius: 0 0 8px 8px;
                color: #fafafa;
            }

            .footer div {
                display: block;
            }

            .footer div + div {
                margin-top: 2px;
            }

            .footer img {
                height: 28px;
            }

            .footer span {
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <div class="message-content">
            <center>
                <div class="header">
                    <img src="http://162.241.93.179:3333/public/logo.png" alt="logo" />
                </div>
            </center>

            <div class="regards">
                <h1>
                    Sejam bem-vindos!
                </h1>
                <strong>
                    Nós estamos felizes por contarem conosco nesse
                    importante processo de aprendizagem!
                </strong>
            </div>

            <div class="message">
                <p>Olá, {{responsibleName}}!</p>
                <p>
                    O processo de matrícula para o ano de {{enrollmentYear}}
                    {{studentNameArticle}} {{studentName}}foi iniciado.
                    Para darmos continuidade ao processo, precisamos que alguns documentos
                    sejam entregues e que os pagamentos da matrícula e dos materiais didáticos
                    sejam efetuados. Sendo assim, vocês podem optar por realizar esses
                    procedimentos de maneira remota ou presencial, de acordo com as
                    instruções seguintes. É válido lembrar que, caso a matrícula seja efetuada
                    até o dia 15 de novembro, o valor será menor, conforme às informações abaixo.
                </p>
                <strong>Valores de pagamento da matrícula:</strong>
                <p>
                    Maternal II ao 2º Período da Educação Infantil: as matrículas realizadas
                    até o dia 15 de novembro o valor será de  R$585,00.  Após o dia 15
                    de novembro  o valor da matrícula  será  R$ 601,00.<br />
                    1º ao 5º ano do Ensino Fundamental: as matrículas realizadas até
                    o dia 15 de novembro o valor será de  R$717,00. Após o dia 15 de
                    novembro o valor será de  R$ 767,00.<br />
                    6º ao 9º ano do Ensino Fundamental: as matrículas realizadas
                    até o dia 15 de novembro o valor será de R$766,00.
                    Após o dia 15 de novembro o valor será de  R$820,00.
                </p>
                <strong>Valores de pagamento dos materiais didáticos:</strong>
                <table>
                    <thead>
                        <tr>
                            <th>Série de Estudo</th>
                            <th>À vista (dinheiro ou cheque)</th>
                            <th>Cartão crédito/débito</th>
                            <th>À prazo (outubro a maio de 2021)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Ed. infantil (Mat ao 2º período)</th>
                            <th>R$ 650,00</th>
                            <th>R$ 680,00</th>
                            <th>R$ 695,00</th>
                        </tr>
                        <tr>
                            <th>Ens. fundamental (1º ao 5º ano)</th>
                            <th>R$ 1170,00</th>
                            <th>R$ 1220,00</th>
                            <th>R$ 1280,00</th>
                        </tr>
                        <tr>
                            <th>Ed. Infantil (Mat ao 2º período)</th>
                            <th>R$ 1250,00</th>
                            <th>R$ 1299,00</th>
                            <th>R$ 1310,00</th>
                        </tr>
                        <tr>
                            <th>Ed. Infantil (Mat ao 2º período)</th>
                            <th>R$ 1470,00</th>
                            <th>R$ 1540,00</th>
                            <th>R$ 1573,00</th>
                        </tr>
                    </tbody>
                </table>
                <strong>Forma de pagamento remoto:</strong>
                <p>
                    O pagamento da matrícula poderá ser efetuado, remotamente,
                    via transferência bancária ou depósito para a conta do colégio,
                    cujos dados bancários seguem abaixo:
                </p>
                <ul>
                    <li>Razão social: Instituto Educacional Doce Mel - Colegio Santiago LTDA</li>
                    <li>CNPJ: 04.379.032/0001-09</li>
                    <li>Banco: Bradesco</li>
                    <li>Agência: 3808</li>
                    <li>Conta corrente: 0060631-6</li>
                </ul>
                <strong>Forma de pagamento presencial:</strong>
                <p>
                    O pagamento da matrícula poderá ser efetuado, presencialmente,
                    via cartão de débito, cartão de crédito ou cheque pré-datado.
                </p>
                <strong>Entrega remota:</strong>
                <p>
                    Caso opte por entregar os documentos remotamente,
                    imprima o contrato de prestação de serviços educacionais,
                    o checklist de documentos e a ficha de matrícula,
                    os quais seguem anexos a este e-mail. Após isso, assine,
                    escaneie e nos envie - como resposta a este e-mail -
                    cada um deles em anexo. Além desses, solicitamos que nos envie,
                    também em anexo, uma cópia dos seguintes documentos:
                </p>
                <ul>
                    <li>CPF do pai;</li>
                    <li>CPF da mãe;</li>
                    <li>RG do pai;</li>
                    <li>RG da mãe;</li>
                    <li>Histórico escolar {{studentNamePrefix}};</li>
                    <li>Cartão de vacina {{studentNamePrefix}};</li>
                    <li>Carteira de plano de saúde {{studentNamePrefix}};</li>
                    <li>Comprovante de residência;</li>
                    <li>Certidão de nascimento {{studentNamePrefix}};</li>
                    <li>Declaração de transferência escolar {{studentNamePrefix}};</li>
                    <li>Declaração de quitação de débito da escola de origem;</li>
                    <li>Laudo — No caso {{studentNamePrefix}} com Deficiência/Necesidades Especiais;</li>
                    <li>Relatório — No caso {{studentNamePrefix}} com Deficiência/Necesidades Especiais.</li>
                </ul>
                <strong>Entrega presencial:</strong>
                <p>
                    Caso opte por entregar os documentos presencialmente,
                    compareça ao colégio portando os seguintes documentos originais:
                </p>
                <ul>
                    <li>CPF do pai;</li>
                    <li>CPF da mãe;</li>
                    <li>RG do pai;</li>
                    <li>RG da mãe;</li>
                    <li>Histórico escolar {{studentNamePrefix}};</li>
                    <li>Cartão de vacina {{studentNamePrefix}};</li>
                    <li>Carteira de plano de saúde {{studentNamePrefix}};</li>
                    <li>Comprovante de residência;</li>
                    <li>Certidão de nascimento {{studentNamePrefix}};</li>
                    <li>Declaração de transferência escolar {{studentNamePrefix}};</li>
                    <li>Declaração de quitação de débito da escola de origem;</li>
                    <li>Laudo — No caso {{studentNamePrefix}} com Deficiência/Necesidades Especiais;</li>
                    <li>Relatório — No caso {{studentNamePrefix}} com Deficiência/Necesidades Especiais.</li>
                </ul>
                <p>
                    Aguardamos ansiosamente pelo seu retorno!
                </p>
                <p>
                    Atenciosamente,
                    <br />
                    Equipe Santiago.
                </p>
            </div>

            <div class="footer">
                <center>
                    <div>
                        <img src="http://162.241.93.179:3333/public/placeholder.png" alt="svg" />
                        <span>R. Rio Grande do Sul, 863 - Espírito Santo, Betim - MG, 32671-686</span>
                    </div>

                    <div>
                        <img src="http://162.241.93.179:3333/public/phone.png" alt="svg" />
                        <span>(31) 98821-9096</span>
                    </div>
                </center>
            </div>
        </div>
    </body>
</html>



